.main{
    display: flex;
    justify-content: end;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;

}
.chat-section{
    width: 50%;
    /* background: blue; */
}
.mood-section{
    width: 30%;
    background: blueviolet;
}